<%# views/partials/head.ejs %>
<meta charset="utf-8">
<title>Hello world</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%# <link rel="shortcut icon" href="/images/favicon.ico">%>
<%# <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />%>
<%# <link rel="stylesheet" href="/styles/main.css?v=201507281441">%>
<style>

</style>
